body{
    background-color: #EEF9BF;
}
.caixa-conteudo{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.titulo h1{
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    
}
.caixa-cartas{
    margin: 17px 0;
    display: flex;
    justify-content: center;
    width: 900px;
    flex-wrap: wrap;
}

.carta-frente, .carta-costa{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 117px;
    height: 146px;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    background-color: #A7E9AF;

    margin: 10px;
    
    


}
.carta{

    transition: all .5s;
    transform-style: preserve-3d;
   
}

.carta-frente{

    position: absolute;
    backface-visibility: hidden;

}
.carta-frente img{
    width: 40px;
    height: 40px;
   
    
}
.carta-costa{
   
    position: relative;
    backface-visibility: hidden;
   

}
.carta-costa img{
    width: 100px;
    height: 100px;
    
}







.rodou{
    transform: rotateY(180deg);
   
}

@keyframes giragira {
    0% {
        transform: rotateY(0deg);
       
      }

    50% {
        transform: rotateY(-180deg);
 
    }

    100% {
      transform: rotateY(-360deg);
      
    }
  }

  .giragira {
    animation: giragira 1s linear 1;
  }


@media (max-width: 900px){

    .caixa-cartas{
        width: 100%;
    }

}
@media (max-width: 560px){

    .caixa-conteudo h1{
        font-size: 36px;
        text-align: center;
    }

    .titulo {
        margin-bottom: 40px;
    }
}
